.centering{
  text-align: center;
  margin-top: 60px;
}
.login{
  margin-top: 5px;
}
h2,
h3{
  font-family: 'Lobster', cursive;
}
header{
  font-family: 'Lobster', cursive;
  position: absolute;
  top:0px;
  right:0px;
  left:0px;
  height: 180px;
  background:#3F51B5;
  background: -webkit-linear-gradient(
    left,
    #1A237E, #3F51B5 , #1A237E
  );
  background: linear-gradient(
    to right,
    #1A237E, #3F51B5 , #1A237E
  );
  color:white;
}

footer{
  margin-top: 15px;
}
.btn-primary{
  background:#3F51B5;
}
.bord{
  margin-top: 90px;
}

.links button{
  width: 160px;
  padding-left: 10px;

}

.singMenu{
  text-align: center;
}

.login:hover{
  cursor: pointer;
}
.family img{
  width: 100px;
}
