
#floatingCirclesG{
  position:relative;
  width:144px;
  height:144px;
  margin:auto;
  transform:scale(0.6);
  -o-transform:scale(0.6);
  -ms-transform:scale(0.6);
  -webkit-transform:scale(0.6);
  -moz-transform:scale(0.6);
}

.f_circleG{
  position:absolute;
  background-color:rgba(255,255,255,0.8);
  height:26px;
  width:26px;
  border-radius:14px;
  -o-border-radius:14px;
  -ms-border-radius:14px;
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
  animation-name:f_fadeG;
  -o-animation-name:f_fadeG;
  -ms-animation-name:f_fadeG;
  -webkit-animation-name:f_fadeG;
  -moz-animation-name:f_fadeG;
  animation-duration:0.882s;
  -o-animation-duration:0.882s;
  -ms-animation-duration:0.882s;
  -webkit-animation-duration:0.882s;
  -moz-animation-duration:0.882s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

#frotateG_01{
  left:0;
  top:59px;
  animation-delay:0.3295s;
  -o-animation-delay:0.3295s;
  -ms-animation-delay:0.3295s;
  -webkit-animation-delay:0.3295s;
  -moz-animation-delay:0.3295s;
}

#frotateG_02{
  left:17px;
  top:17px;
  animation-delay:0.446s;
  -o-animation-delay:0.446s;
  -ms-animation-delay:0.446s;
  -webkit-animation-delay:0.446s;
  -moz-animation-delay:0.446s;
}

#frotateG_03{
  left:59px;
  top:0;
  animation-delay:0.5525s;
  -o-animation-delay:0.5525s;
  -ms-animation-delay:0.5525s;
  -webkit-animation-delay:0.5525s;
  -moz-animation-delay:0.5525s;
}

#frotateG_04{
  right:17px;
  top:17px;
  animation-delay:0.659s;
  -o-animation-delay:0.659s;
  -ms-animation-delay:0.659s;
  -webkit-animation-delay:0.659s;
  -moz-animation-delay:0.659s;
}

#frotateG_05{
  right:0;
  top:59px;
  animation-delay:0.7755s;
  -o-animation-delay:0.7755s;
  -ms-animation-delay:0.7755s;
  -webkit-animation-delay:0.7755s;
  -moz-animation-delay:0.7755s;
}

#frotateG_06{
  right:17px;
  bottom:17px;
  animation-delay:0.882s;
  -o-animation-delay:0.882s;
  -ms-animation-delay:0.882s;
  -webkit-animation-delay:0.882s;
  -moz-animation-delay:0.882s;
}

#frotateG_07{
  left:59px;
  bottom:0;
  animation-delay:0.9985s;
  -o-animation-delay:0.9985s;
  -ms-animation-delay:0.9985s;
  -webkit-animation-delay:0.9985s;
  -moz-animation-delay:0.9985s;
}

#frotateG_08{
  left:17px;
  bottom:17px;
  animation-delay:1.105s;
  -o-animation-delay:1.105s;
  -ms-animation-delay:1.105s;
  -webkit-animation-delay:1.105s;
  -moz-animation-delay:1.105s;
}



@keyframes f_fadeG{
  0%{
    background-color:rgba(0,0,0,0.72);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-o-keyframes f_fadeG{
  0%{
    background-color:rgba(0,0,0,0.72);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-ms-keyframes f_fadeG{
  0%{
    background-color:rgba(0,0,0,0.72);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-webkit-keyframes f_fadeG{
  0%{
    background-color:rgba(0,0,0,0.72);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-moz-keyframes f_fadeG{
  0%{
    background-color:rgba(0,0,0,0.72);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}
