<div data-spy="affix" data-offset-top="200">
  <div class="container-fluid">
    <div class="navheader">
      <nav class="navbar navbar-default navfixed ">
        <!-- Brand -->
        <a style="color: white; font-size: 18px;" class="navbar-brand"
           [routerLink]="['/']"><em>S<small>cribbles</small></em></a>

        <!-- DropDown menus  -->
        <div class="navbar-nav nav navdiv " >

          <!--DropDown Sort menu-->
            <div class="dropdown dropped" dropDown >
              <a role="button">Sort by<span class="caret"></span> </a>
              <ul class="dropdown-menu pull-right" >
                <li><a routerLinkActive="activated"
                       [routerLink]="['content/Technology']"><img class="displayUserImg" src="pictures/Technology.jpg"><span class="sort-menu">Technology</span></a></li>

                <li style="background: whitesmoke" ><a routerLinkActive="activated"
                        [routerLink]="['content/Programming']"><img class="displayUserImg" src="pictures/Programming.jpg"><span class="sort-menu">Programming</span></a></li>

                <li ><a routerLinkActive="activated"
                       [routerLink]="['content/Anime']"><img class="displayUserImg" src="pictures/Anime.jpg"><span   class="sort-menu">Anime</span></a></li>

                <li style="background: whitesmoke"><a routerLinkActive="activated"
                       [routerLink]="['content/Comics']"><img class="displayUserImg" src="pictures/Comics.jpg"><span  class="sort-menu">Comics</span></a></li>

                <li ><a routerLinkActive="activated"
                       [routerLink]="['content/Serials']"><img class="displayUserImg" src="pictures/Serials.jpg"><span   class="sort-menu">Serials</span></a></li>

                <li style="background: whitesmoke"><a routerLinkActive="activated"
                       [routerLink]="['content/Films']"><img class="displayUserImg" src="pictures/Films.jpg"><span  class="sort-menu">Films</span></a></li>

                <li ><a routerLinkActive="activated"
                       [routerLink]="['content/Games']"><img class="displayUserImg" src="pictures/Games.jpg"><span s class="sort-menu">Games</span></a></li>

                <li style="background: whitesmoke"><a routerLinkActive="activated"
                        [routerLink]="['content/Other']"><img class="displayUserImg" src="pictures/Other.jpg"><span class="sort-menu">Other</span></a></li>
              </ul>
            </div>


          <!-- 2 drop  down User   -->
          <div class="dropdown dropped " dropDown>

            <a (click)="checkUser()" role="button"><span class="glyphicon glyphicon-align-left menu" aria-hidden="true"></span><span class="caret"></span></a>
            <ul class="dropdown-menu pull-right spacing">

                <li *ngIf="user" style="margin-left: 5px;">
                  <img class="displayUserImg" [src]="userImg" onError="this.src = 'http://www.blingyourband.com/skin/frontend/blingyourband/blingyourbands/images/no-available-image.png'"> {{userName}}
                </li>

                <li *ngIf="user" role="separator" class="divider"></li>

                <li style="background: whitesmoke">
                  <a routerLinkActive="activated" [routerLink]="['/create-post']" *ngIf="user"  class="sort-menu">Create Post</a>
                </li>

                <li style="background: whitesmoke">
                  <a (click)="faceBookLogIn()" *ngIf="!user" class="sort-menu">
                    <img class="displayUserImg" src="pictures/facebook.png">Login with Facebook
                  </a>
                </li>

                <li>
                  <a (click)="googleIn()" *ngIf="!user" class="sort-menu"><img class="displayUserImg" src="pictures/google.png">Login with Google</a>
                </li>

                <li>
                  <a (click)="faceBookLogOut()" *ngIf="user" class="sort-menu">Log Out</a>
                </li>


                <!-- Description befor you log in -->
                <li *ngIf="!user" role="separator" class="divider"></li>
                <li *ngIf="!user" style="padding-left:5px; background: whitesmoke">After log in you can :</li>
                <li *ngIf="!user" style="padding-left:20px; background: whitesmoke">  - Create your articles</li>
                <li *ngIf="!user" style="padding-left:20px; background: whitesmoke">  - Edit your articles</li>
                <li *ngIf="!user" style="padding-left:20px; background: whitesmoke">  - Use chat</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
