<div class="container-fluid">
  <div class="navheader">
    <nav class="navbar navbar-inverse navfixed ">
      <!-- Brand -->
      <a class="navbar-brand "
         [routerLink]="['/content/all']">Our Logo</a>

      <!-- DropDown menus  -->
      <div class="navbar-nav nav navdiv " >

        <!--DropDown Sort menu-->
          <div class="dropdown dropped" dropDown >
            <a role="button">Sort by<span class="caret"></span> </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a routerLinkActive="activated"
                     [routerLink]="['content/DataBase']">DataBase</a></li>

              <li> <a routerLinkActive="activated"
                      [routerLink]="['content/MobileDev']">MobileDev</a></li>

              <li ><a routerLinkActive="activated"
                     [routerLink]="['content/WebDev']">WebDev</a></li>

              <li ><a routerLinkActive="activated"
                     [routerLink]="['content/Software']">Software</a></li>

              <li><a routerLinkActive="activated"
                     [routerLink]="['content/Networking']">Networking</a></li>
            </ul>
          </div>

        <!-- 2 drop  down User   -->
        <div class="dropdown dropped " dropDown>
          <a (click)="checkUser()" role="button">User<span class="caret"></span></a>
          <ul class="dropdown-menu pull-right">
              <li *ngIf="user" style="margin-left: 5px;"><img class="displayUserImg" [src]="userImg" > {{userName}}</li>
              <li *ngIf="user" role="separator" class="divider"></li>
              <li><a routerLinkActive="activated" [routerLink]="['/create-post']" *ngIf="user" >Create Post</a></li>
              <li><a (click)="faceBookLogIn()"  *ngIf="!user">Login with Facebook</a></li>
              <li><a (click)="faceBookLogOut()"  *ngIf="user" >Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
