<div [@flyIn]="'in'" class="media  col-xs-12  onhover" *ngIf = "article" [ngClass]="addStyle ? 'opened': ''">
<!--Content-->
  <a (click)="onOpen()"  role="button" data-toggle="collapse" href="#id{{index}}" aria-expanded="false" [attr.aria-controls]="'id'+index">
    <!--MAin part -->
    <div class="row" >
      <div class="spacing ">
        <!--Image-->
        <div class="imgs" >
          <img [src]="article.imgUrl"
               alt="Not loaded yet"
               onError="this.src = 'http://www.blingyourband.com/skin/frontend/blingyourband/blingyourbands/images/no-available-image.png'">
        </div>
        <!--Descriptions and sections -->
        <div >
            <small *ngFor="let section of article.sections"><em> {{section}} </em></small>
            <h3 class="media-heading"><span class="artName">{{article.header}}<br></span> <small>{{article.authorName}}</small></h3>
              <strong>Description:</strong><br>
              <strong>"</strong>
              <em> {{article.description}} </em>
              <strong>"</strong>
          </div>
        </div>


      <!--Button Edit and Delete-->
        <div class="col-xs-12 collapse"  id="id{{index}}">
            <p [innerHtml]="article.article"></p>
            <br>
            <a style="margin-bottom: 10px; color:white;" class="btn btn-primary"  [routerLink]="['/edit' , index]" *ngIf="isAuthorize">Edit</a>

            <button style="margin-bottom: 10px;" class="btn btn-default"  (click)="onDelete()" *ngIf="isAuthorizeAdmin">Delete</button>

        </div>
      </div>
    </a>

</div>


