/*Styles*/
form{
  margin-top: 110px;
}
div{
  color: black;
}

.rules{
  display:none;
  transition: all 0.5s;

}
.tri{
  color:red;
  cursor: pointer;
}

label{
  font-size: 17px;
}



img{
  margin:10px;
  width: 400px;
}
button{
  margin:3px;
}

input{
  margin : 2px;
}

.ng-dirty.ng-invalid{
  border:1px solid #ff1a1a;
}
.btn-primary{
  background: #3F51B5;

}


/*MEDIA ____________*/
@media(max-width: 768px){
  img{
    width: 220px;
  }

}
