<!--ALL FORM INPUTS FOR ADD AND  EDIT -->

<div class="col-sm-10 col-sm-offset-1">

    <div *ngIf="savingData">
      <div style="text-align: center; margin-top:15%; color: grey;">
        <br>
        <h4>Saving article...</h4><br>
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>


  <div *ngIf="auth" [ngClass]="savingData ? 'hide' : ''">
    <!--Form creation-->
  <form [formGroup]="myForm" *ngIf="shadow">

    <div >
    <!--Head of article-->
    <fieldset class="form-group">
      <label for="head">Header of article</label><br>
      <small>From 5 to 150 characters</small>
      <input formControlName="header"
             id="head"
             class="form-control"
             type="text">
    </fieldset>

    <!--Description -->
    <fieldset class="form-group">
      <label for="description">Description</label><br>
      <small>From 100 to 400 characters</small>
      <textarea formControlName="description"
                id="description"
                class="form-control"
                maxlength="400"
                minlength="100"
                rows="4"
                style="resize: none"></textarea>
    </fieldset>

    <!--IMAGE WITH preview -->
    <fieldset class="form-group">
      <label for="imgUrl">Image URL</label><br>
      <small>Do not forget picture</small>
      <input formControlName="imgUrl"
             id="imgUrl"
             class="form-control"
             #img
             (keyup)="0">

      <img [src]="img.value"
           alt="Picture not found" *ngIf="img.value"
           onError="this.src = 'http://www.blingyourband.com/skin/frontend/blingyourband/blingyourbands/images/no-available-image.png'">

    </fieldset>

<!--SECTIONS OF CONTENT-->
    <fieldset class="form-group">
      <label>Selected Sections</label><br>
      <small>Must choose at least one</small>
       <div formArrayName="sections"
            class="form-control"
            style="height: auto">

         <span *ngFor="let selectedSection of myForm.controls.sections.controls ; let i = index">
           <input  class="btn btn-danger"
                   (click)="onUnSelect(i)"
                   formControlName="{{i}}"
                   readonly="readonly" >

         </span></div><br>

      <div>
        <!--Button to select-->
      <button *ngFor="let selector of sections"
              class ="btn btn-primary"
              type="button"
              (click)="onSelect(selector)">+ {{selector}}</button>
        </div>
    </fieldset>
    </div>
  </form>
  </div>


  <!-- IMPORTANT CKEDITOR DO NOT TOUCH THIS PART OTHER WISE WILL LOOSE CK EDITOR -->
  <div [ngClass]="savingData ? 'hide' : ''">
    <fieldset class="form-group" >
      <label > Article</label>
      <textarea
        class="form-control"
        minlength="800"
        name="editor1">{{selectedContent ? selectedContent.article : ''}}</textarea>
    </fieldset>
    <br>

    <!--Rules mus read -->
    <div class="tri" (click)="opened? opened = false: opened = true">Must to read before save article<span class="caret"></span>
      <div class="rules" [ngStyle]="opened ? {'display': 'block'} : {}">
        <h3><em>Rules of this website:</em></h3><br>
        <span style="color: red">- Do not publish article which does not contain appropriate content</span><br>
        <span style="color: red">- Be kind to other people</span><br>
        <span style="color: red">- Follow this rules</span><br><br>
        <span style="text-align: center; color: green;">If you will not follow this rules your account will be blocked</span>
      </div>
    </div>
    <!---->

    <!--If you try to save content with out authorization-->
      {{areYouIn}}<br>
    <!--Buttons  save and cancel-->
      <button
        *ngIf="auth"
        type="button"
        [disabled]='!myForm.valid || clicked'
        (click)="onSubmit()"
        class="btn btn-primary">{{id ? 'Save' : 'Create article'}}</button>


      <button
        *ngIf="auth"
        class="btn btn-danger"
        type="button"
        (click)="onCancel()">Cancel</button>
  </div>
</div>



