
.logo{

  position: absolute;
  top:18px;
  left: 30px;
  text-decoration: underline;

}
.logo img{
  width: 90px;
}

#circularG{
  position:relative;
  width:143px;
  height:143px;
  margin: auto;
}



.circularG{
  position:absolute;
  background-color:rgb(7,20,166);
  width:33px;
  height:33px;
  border-radius:21px;
  -o-border-radius:21px;
  -ms-border-radius:21px;
  -webkit-border-radius:21px;
  -moz-border-radius:21px;
  animation-name:bounce_circularG;
  -o-animation-name:bounce_circularG;
  -ms-animation-name:bounce_circularG;
  -webkit-animation-name:bounce_circularG;
  -moz-animation-name:bounce_circularG;
  animation-duration:0.868s;
  -o-animation-duration:0.868s;
  -ms-animation-duration:0.868s;
  -webkit-animation-duration:0.868s;
  -moz-animation-duration:0.868s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

#circularG_1{
  left:0;
  top:57px;
  animation-delay:0.328s;
  -o-animation-delay:0.328s;
  -ms-animation-delay:0.328s;
  -webkit-animation-delay:0.328s;
  -moz-animation-delay:0.328s;
}

#circularG_2{
  left:14px;
  top:14px;
  animation-delay:0.434s;
  -o-animation-delay:0.434s;
  -ms-animation-delay:0.434s;
  -webkit-animation-delay:0.434s;
  -moz-animation-delay:0.434s;
}

#circularG_3{
  top:0;
  left:57px;
  animation-delay:0.54s;
  -o-animation-delay:0.54s;
  -ms-animation-delay:0.54s;
  -webkit-animation-delay:0.54s;
  -moz-animation-delay:0.54s;
}

#circularG_4{
  right:14px;
  top:14px;
  animation-delay:0.646s;
  -o-animation-delay:0.646s;
  -ms-animation-delay:0.646s;
  -webkit-animation-delay:0.646s;
  -moz-animation-delay:0.646s;
}

#circularG_5{
  right:0;
  top:57px;
  animation-delay:0.752s;
  -o-animation-delay:0.752s;
  -ms-animation-delay:0.752s;
  -webkit-animation-delay:0.752s;
  -moz-animation-delay:0.752s;
}

#circularG_6{
  right:14px;
  bottom:14px;
  animation-delay:0.868s;
  -o-animation-delay:0.868s;
  -ms-animation-delay:0.868s;
  -webkit-animation-delay:0.868s;
  -moz-animation-delay:0.868s;
}

#circularG_7{
  left:57px;
  bottom:0;
  animation-delay:0.974s;
  -o-animation-delay:0.974s;
  -ms-animation-delay:0.974s;
  -webkit-animation-delay:0.974s;
  -moz-animation-delay:0.974s;
}

#circularG_8{
  left:14px;
  bottom:14px;
  animation-delay:1.08s;
  -o-animation-delay:1.08s;
  -ms-animation-delay:1.08s;
  -webkit-animation-delay:1.08s;
  -moz-animation-delay:1.08s;
}



@keyframes bounce_circularG{
  0%{
    transform:scale(1);
  }

  100%{
    transform:scale(.3);
  }
}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1);
  }

  100%{
    -o-transform:scale(.3);
  }
}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1);
  }

  100%{
    -ms-transform:scale(.3);
  }
}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1);
  }

  100%{
    -webkit-transform:scale(.3);
  }
}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1);
  }

  100%{
    -moz-transform:scale(.3);
  }
}
