<div class ="row">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div  *ngFor="let article of articles; let i = index">
<!--Getting List of articles -->
      <app-content-list
        *ngIf="article != null"
        [article]="article"
        [index]="i"></app-content-list>
      </div>
      </div>

    <!--Buttons to load new content or that can not load new content-->
  <footer style="text-align: center">

    <div *ngIf="id == 'all' || id==null" class="toolt">
    <button [disabled]="articles.length == 0"
            class = "btn btn-primary "
            (click)="onNext()">@</button>
    <span class="tooltipt">Next articles</span>
    </div>
      <!--Can not load Disable filter -->
    <div *ngIf="filter && id !='all' " class="toolt">
    <a [routerLink]="['../']"  class = "btn btn-danger">X</a>
      <span class="tooltipt">Disable filter</span>
    </div>
  </footer>

  </div>


</div>
