<div class ="row">
  <div class="container">
    <div class="col-xs-12">
      <div  *ngFor="let article of articles; let i = index">
      <app-content-list
        *ngIf="article != null"
        [article]="article"
        [index]="i"></app-content-list>
      </div>
      </div>
  <footer style="text-align: center">
    <button [disabled]="articles.length == 0"
            *ngIf="id == 'all' || id==null"
            class = "btn btn-default"
            (click)="onNext()">NEXT</button>
  </footer>
  </div>


</div>
