<div class ="row">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div  *ngFor="let article of articles; let i = index">
<!--Getting List of articles -->
      <app-content-list
        *ngIf="article != null"
        [article]="article"
        [index]="i"></app-content-list>
      </div>
      </div>

    <!--Buttons to load new content or that can not load new content-->
  <footer style="text-align: center">
    <button [disabled]="articles.length == 0"
            *ngIf="id == 'all' || id==null"
            class = "btn btn-default"
            (click)="onNext()">Get next 12 articles</button>
<!--Can not load Disable filter -->
    <button disabled
            *ngIf="filter && id !='all' "
            class = "btn btn-default">You can not load new content with filter on</button>
    <a [routerLink]="['../']" *ngIf="filter && id !='all' " class = "btn btn-default">Disable filter</a>

  </footer>

  </div>


</div>
