.media{
  margin-top: 30px;
}


img{
width: 130px;
}

.selectors{
  color: dimgray;
}

a{
  text-decoration: none;
  color: black;
  margin-top: 5px;
}

button{
float:right;
}



.wrap {
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;   /* IE */
}



/*Media _____________-*/
@media(min-width : 768px){
  img{
    width: 240px;
  }

}

@media(max-width : 400px){
  img{
    display: none;
  }

}
