.media{
  margin-top: 30px;
}

small{
  font-size: 14px;
}

.spacing{
  margin:10px;
}

.imgs{
  float:left;
}

img{
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  margin:10px;

}

.selectors{
  color: dimgray;
}

a{
  text-decoration: none;
  color: black;
  margin-top: 5px;
}
.onhover:hover{
  background: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}

button{
float:right;
}


/*Media _____________-*/
@media(min-width : 768px){
  img{
    width: 300px;
  }
}

@media(max-width : 768px){
  .imgs{
    float:none;
    text-align:center;
   }
}

@media(max-width : 350px){
  .imgs{
    display: none;
  }
}
