<div  class="media  col-xs-12 onhover" *ngIf = "article">
<!--IMAGE ON ALL CONTENT PAGE-->
  <a (click)="some ? some=false : some = true">
    <div class="row">
      <div class="spacing ">
        <div class="imgs" >
          <img [src]="article.imgUrl"
               alt="Not loaded yet"
               onError="this.src = 'http://www.blingyourband.com/skin/frontend/blingyourband/blingyourbands/images/no-available-image.png'">
        </div>

        <div >
            <small *ngFor="let section of article.sections"> {{section}} </small>
            <h2 class="media-heading">{{article.header}} <small>| {{article.authorName}}</small></h2>
              <strong>Description:</strong><br>
              <strong>"</strong>
              <em> {{article.description}} </em>
              <strong>"</strong>
          </div>
        </div>

        <div class="col-xs-12" *ngIf="some" >
            <p [innerHtml]="article.article"></p>
            <br>
            <a style="margin-bottom: 10px;" class="btn btn-default" [routerLink]="['/edit' , index]">Edit</a>
            <button style="margin-bottom: 10px;" class="btn btn-default" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </a>

</div>


