<form class="col-xs-12 col-sm-6 col-sm-offset-3">

  <fieldset class="form-group">
    <label for="email">Email</label>
    <input class="form-control" id="email" type="email" #email>
  </fieldset>

  <fieldset class="form-group">
    <label for="password">Password</label>
    <input class="form-control" id="password" type="password" #password>
  </fieldset>
  <button class="btn btn-primary" type="button" (click)="facebookIn()">Facebook In</button>

  <button class="btn btn-primary" type="button" (click)="facebookOut()">Facebook out</button>

  <button class="btn btn-primary" type="button" (click)="singIn(email.value , password.value)">sign in</button>

  <button class="btn btn-primary" type="button" (click)="singUp(email.value , password.value)">sign up</button>
</form>

