<!--ALL FORM INPUTS FOR ADD AND  EDIT -->

<div class="col-sm-10 col-sm-offset-1">
  <div *ngIf="auth">

  <form [formGroup]="myForm" >

    <div *ngIf="shadow">
    <!--Head of article-->
    <fieldset class="form-group">
      <label for="head">Header of article</label>
      <input formControlName="header"
             id="head"
             class="form-control"
             type="text">
    </fieldset>

<!--Description -->
    <fieldset class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description"
                id="description"
                class="form-control"
                maxlength="400"
                minlength="100"
                rows="4"
                style="resize: none"></textarea>
    </fieldset>

    <!--IMAGE WITH preview -->
    <fieldset class="form-group">
      <label for="imgUrl">Image URL</label>
      <input formControlName="imgUrl"
             id="imgUrl"
             class="form-control"
             #img
             (keyup)="0">

      <img [src]="img.value"
           alt="Picture not found" *ngIf="img.value"
           onError="this.src = 'http://www.blingyourband.com/skin/frontend/blingyourband/blingyourbands/images/no-available-image.png'">

    </fieldset>

<!--SECTIONS OF CONTENT-->
    <fieldset class="form-group">
      <label>Selected Sections</label>
       <div formArrayName="sections"
            class="form-control"
            style="height: auto">

         <span *ngFor="let selectedSection of myForm.find('sections').controls ; let i = index">
           <input  class="btn btn-danger"
                   (click)="onUnSelect(i)"
                   formControlName="{{i}}"
                   readonly="readonly">

         </span></div><br>

      <div>
      <button *ngFor="let selector of sections"
              class ="btn btn-default"
              (click)="onSelect(selector)">+ {{selector}}</button>
        </div>
    </fieldset>
    </div>






  </form>

  </div>
  <!-- IMPORTANT CKEDITOR DO NOT TOUCH THIS PART OTHER WISE WILL LOOSE CK EDITOR -->
    <fieldset class="form-group">
      <label > Article</label>
      <textarea
        class="form-control"
        minlength="800"
        name="editor1">{{selectedContent ? selectedContent.article : ''}}</textarea>
    </fieldset>


    <button
      *ngIf="auth"
      type="button"
      [disabled]='!myForm.valid'
      (click)="onSubmit()"
      class="btn btn-primary">{{id ? 'Save' : 'Create article'}}</button>

    <button
      *ngIf="auth"
      class="btn btn-danger"
      type="button"
      (click)="onCancel()">Cancel</button>

</div>


