img{
  margin:10px;
  width: 400px;
}

input{
  margin : 2px;
}

.ng-dirty.ng-invalid{
  border:1px solid #ff1a1a;
}


/*MEDIA ____________*/
@media(max-width: 768px){
  img{
    width: 220px;
  }

}
