/*Styles page*/
.displaySectionImg{
  width: 20px;
  margin-right: 1px;
  margin-left: 4px;
}


.opened{
  border-left: 5px solid #303F9F !important;
  transition: all 0.2s;
}

.opened > .artName{
  color: #303F9F;
}

.artName{
  font-size: 25px;
  transition: all 0.2s;
  font-family: 'Lobster Two', cursive;
}


.onhover:hover .artName{
  color: #303F9F;
}

.onhover{
  transition: all 0.2s;
}

.onhover:hover{
  /*background:#E8EAF6;*/
  cursor: pointer;
  border-left: 5px solid #303F9F;
  /*opacity: 1;*/

}



img{
  transition: all 0.4s;
}
.opened .mainImg{
  width: 500px;
}

div em{
  color:#333333;
}

.description{
  color:#616161;
}

div p{
  font-size: 15px;
  font-family: "Helvetica Neue";
}

div{
  color: #1a1a1a;
}

.media{
  border-left: 5px solid #7986CB;
  margin-top: 30px;
}

small{
  font-size: 14px;
}

.spacing{
  margin:10px;
}

.imgs{
  float:left;
  padding-bottom: 10px;
}

.mainImg{
  width: 250px;
  /*border: 1px solid black;*/
  border-radius: 20px;
  margin:10px;
}

.selectors{
  color: dimgray;
}

a{
  text-decoration: none;
  color: black;
  margin-top: 5px;
}


button{
float:right;
}




/*Media _____________-*/
@media(min-width : 768px){
  .mainImg{
    width: 300px;
  }
}


@media(max-width : 989px){

  .mainImg{
    width: 235px;
  }
  .opened .mainImg{
    width: 400px;
  }
}


@media(max-width : 768px){
  .imgs{
    float:none;
    text-align:center;
  }
  .mainImg{
    width: 280px;
  }
  .opened .mainImg{
    width: 350px;
  }
}


@media(max-width : 500px){
  .imgs{
    float:none;
    text-align:center;
  }
  .mainImg{
    width: 245px;
  }
  .opened .mainImg{
    width: 255px;
  }
}

@media(max-width : 378px){
  .imgs{
    display: none;
  }
}
