.chat-place{
  position : fixed;
  right: 0px;
  bottom: 0px;
  border: 1px solid black;

}

.form-control{
  background: #333333;
  color: ghostwhite;
}

.header{
  padding: 10px;
  color:white;
  background: #222;
  width: 280px;
}
a{
  color:darkgray;
  text-decoration: none;
}
.chat-window{
  margin: 0px;
  overflow: auto;
  height: 250px;
  background: #333333;
}
button{
  width: 280px;
  margin-top: 2px;
}

button:disabled{
  opacity: 1.0;
}
