
/*Make nav-bar over all other content */
#head{
  position: fixed;
  z-index: 10000;
}

footer{
  height: 40px;
}

.container{
  margin-top:40px;
}


.head-board{
  text-align: center;
  color: white;
  font-family: 'Lobster', cursive;
  background:#3F51B5;
  background: -webkit-linear-gradient(
    left,
    #1A237E, #3F51B5 , #1A237E
  );
  background: linear-gradient(
    to right,
    #1A237E, #3F51B5 , #1A237E
  );
  position: absolute;
  top:0;
  right:0;
  left:0;
  height: 160px;
  padding-top: 40px;
}
/*.head-board h1{*/
  /*font-family: 'Lobster', cursive;*/
/*}*/
