
/*
Recreate navbar Bootstrap
Change some css styles
 */


/*Using '!important' to prevent styles from bootstrap '!important'
 is  only in this file , all others free from '!important'  */
small{
  font-size: 15px;
}

.logo{
  position: fixed;
  top:12px;
  left: 0px
}
.brand {
  width: 40px;

}
.brand:hover{
  cursor: pointer;
}

.main-border{
  position: fixed;
  top:0;
  right:0;
  left:0;
  box-shadow: 3px 3px 3px gray;
  border-top:10px solid  #3F51B5;
}

.navbar-default{

  background: white;
  border:none;
  /*box-shadow: 3px 3px 3px gray;*/
}


/*Menu animation*/
.menu{
  transition: all 0.3s;
}

.menu:hover{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sort-menu{
  transition: all 0.3s;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}
/*finish menu animation*/

.displayUserImg{
  margin-bottom: 5px;
  float:left;
  width:30px;
  border-radius: 20px;
  margin-top:0px;
  margin-right:5px;"
}

a{
  color: #212121;
}

.dropped{
  cursor: pointer;
}

.dropped a{
  padding :7.5px;
  padding-top: 13px;
  text-decoration: none;
  margin-right: 5px;
}

.navbar-nav{
  margin: 0 !important;
}

.navbar-nav .open  .dropdown-menu{
  position: absolute;
  right: 0;
  z-index: 1000;
  float: left;
  width:225px;
  font-size: 16px !important;
  text-align: left;
  list-style: none;
  background-color: white;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid gray;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 5px 12px #888888;
}
.navbar-default >.navbar-nav>.open > a:hover{
  background: whitesmoke;
  color:#1a1a1a;
}
.navbar-default >.navbar-nav>.open > a{
  background: whitesmoke;
  color:#1a1a1a;
}

div.navdiv{
  float:right;
  padding-top: 10px;
}

div{
  display:inline-block ;
}

li > a.activated{
  background:  #EC407A!important;
  color:white !important;
  display: block ;
}

li > a{
  color:black !important;
  font-size: 16px !important;
  height: 53px;
}
li > a:hover{
  background: #EC407A!important;
  color: white !important;
}

.navfixed{
  position: fixed;
  top:15px;
  /*left:0;*/
  right:0;

}





/*

MEDIEA


 */
@media(max-width: 768px){

}
