
/*Some styles for buttons*/
.images{
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
}

/*Buttons next page  , description */
.right_buttons{
  margin-top: 10px;
  transition: all 0.3s;
}


.right_buttons:hover{
  box-shadow: 3px 3px 3px #1a1a1a;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


.images:hover{
  width: 220px;
}


footer{
  position: fixed;
  right: 7px;

  border-radius: 25px;
}

.tooltipt {
  top: 10px;
  width: 120px;
  right: 105%;
  border-radius: 10px;
  display: none;
  background-color: #262626;
  color: whitesmoke;
  position: absolute;
  z-index: 1;
}
.toolt:hover .tooltipt {
  display: inline-block;
}

.rules{
  width: 37px;
}
.toolt2:hover .tip2{
  margin-top: 40px;
  display: inline-block;
}
